

<nav style="background-color:  rgb(51, 103, 214);;" class="navbar navbar-expand-lg navbar-light ">
    <section style="margin-left: 60px;color: white;text-align: center;" class="spaceX shine" (click)="gohome()">
    <p  style="font-size: 30px;font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;"  href="#">FANATIC </p>
    <p style="font-size: 20px;font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">BOOKS</p>
    <span class="tooltiptext">Home</span>
    </section>
        <div class="spaceX" style="border-right:6px solid green;height:70px"></div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active  spaceX">
          <a style="color: white;font-size: 12px;font-family: Impact, Haettenschweiler,  " class="nav-link" href="#">Biorgraphy  </a>
        </li>
        <li class="nav-item  spaceX">
          <a style="color: white;font-size: 12px;font-family: Impact, Haettenschweiler,  " class="nav-link"    href="#">Fiction</a>
        </li>
         
        <li class="nav-item  spaceX">
          <a class="nav-link  " style="color: white;font-size: 12px;font-family: Impact, Haettenschweiler, " href="#">Inspiration</a>
        </li>

        <li class="nav-item  spaceX">
            <a class="nav-link  " style="color: white;font-size: 12px;font-family: Impact, Haettenschweiler,  "  href="#">History</a>
          </li>

             
          <input class=" spaceXx" style=" border-radius: 5px;; width:400px" type="search" placeholder="Search books by title , author , genres " aria-label="Search">
          <i class="bi bi-search spaceXx" style="color: white;"></i> 

    
          
            

    </ul>
    <div style="text-align: left;"> 
    <p style="color: white;">Hi, jeo</p>
          <p class="nav-item dropdown">
            <a style="color: white;padding: 0px;;" class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"  >
            your Account
            </a></p>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>

         
    </div>
    <i style="font-size:33px" class="bi bi-cart"></i>

    
    </div>
  </nav>