<div style="padding-left: 10px;;">

<p class="top">Fiction</p>
<section>
  <p class="top1">show by genres</p>

  <p class="top2">Action and Fun reads</p>
  <ul>
    <li >Graphic Novels & Comics</li>
    <li>Humorous Fiction</li>
    <li>Teen Fiction</li>
  </ul>
</section>

<hr>

<section>
  
    <p class="top2">Dark, Horror & Fantasy</p>
    <ul>
        <li> Sci-fi & Fantasy</li>
            <li>  Folklore & Mythology</li>
                <li> Mystery & Crime</li>
                    <li> Thrillers</li>
                        <li> Horror</li>
    </ul>
  </section>

  <hr>

<section>
  
    <p class="top2">People & Nature</p>
    <ul>
        
        <li>Women's Fiction</li>
            <li>Westerns</li>
                <li> People & Cultures</li>
                    <li> Nautical & Maritime</li>
    </ul>
  </section>

  
  <hr>

<section>
  
    <p class="top2">Classics</p>
    <ul>
        <li> Fiction & Literature</li>
            <li>  Love & Romance</li>
    </ul>
  </section>



  
  <hr>

<section>
  
    <p class="top2">History & Criticism</p>
    <ul>
        <li> War & Military</li>
            <li> Historical Fiction</li>
                <li>   Mystery & Crime</li>
                    <li>   Christian Fiction</li>
                        <li> African America</li>
    </ul>
  </section>




</div>